body {

}

* {
    margin: 0;
    padding: 0;
}

.wraper {
    width: 1000px;
    height: 1310px;
    /*padding: 45px 45px 0px;*/
    padding-top: 55px;
    margin: 0 auto;
    border: 1px solid grey;
}

header {
        /*position: absolute;*/
        width: 909px;
        height: 237px;
        background-image: url(../img/blick_zazor.png);
        background-size: auto;
        text-align: center;
       /* padding-top: 30px;*/
        margin: 0px auto;
        /*clear: both;*/
}


.panel_reg {
    position: relative;
    top: -39px;
    left: 163px;
    display: inline-block;
    vertical-align: middle;
    width: 495px;
    height: 27px;
    padding-top: 3px; 
    background-color: #213e5e; 
    border-radius: 5px;
}

.sign_in {
    position: absolute;
    left: 25px;
}

.sign_in > input {
    margin-right: 5px;
}

.sign_in input {
    width: 115px;
    height: 18px;
    padding-left: 2px;

}

.submit_inter {
    margin-left: 105px;
    border: none;
    background-color: transparent;
    /*font-family: Tahoma;*/
    font-size: 12px;
    color: white;
}

.submit_inter:hover {
    border-bottom: 1px solid white;
}

.vert_border {
    position: absolute;
    top: 10px;
    left: 316px;
    width: 1px;
    height: 10px;
    background-color: white;
}

.reg {
    position: absolute;
    top: 3px;
    left: 305px;
    width: 100px;
    height: 20px;
    list-style: none;
}


.link_reg {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
}

.navigator {
    display: block;
    width: 70px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50px;
}

nav{
    width: 909px;
    height: 35px;
    margin: 5px auto;
    border-style: solid;
  border-width: 1px;
  border-color: rgb(13, 22, 66);
  border-radius: 4px;
  background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(44,48,52) 87%, rgb(87,96,104) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(44,48,52) 87%, rgb(87,96,104) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(44,48,52) 87%, rgb(87,96,104) 100%);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.menu li {
    display: inline-block;

    list-style: none;
}

.menu_link {
    text-decoration: none;
    font-size: 15px;
  font-family: "Lucida Sans Unicode";
  color: rgb(255, 255, 255);
  line-height: 1.867;
  text-align: center;
  -moz-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -webkit-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -ms-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
}
/*.banner {
    width: 909px;
    height: 237px;
    clear: both;
}*/
.block_forms {
    margin: 10px auto 10px;
    width: 910px;
    height: 140px;
    display: block;
}

.form1 {
    position: absolute;
    top: 344px;
    left: 224px;
    display: inline-table;
    width: 415px;
    height: 135px;
    border-style: solid;
  border-width: 1px;
  border-color: rgb(156, 156, 157);
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 5px 0px rgba(150, 150, 150, 0.75);
    clear: both;
}

.option1, .option2,.option3, .option4, .option5,.option6  {
    width: 100px;
    height: 18px;
    margin: 5px;
    background-color: white;
    border-bottom: none;

}

.option7, .option8 {
    width: 60px;
    height: 18px;
    margin: 5px;
    background-color: white;
    border: none;
    border-style: inset;
    border-bottom: none;

    
}

.form2 {
    position: absolute;
    top: 344px;
    left: 653px;
    display: block;
    width: 192px;
    height: 135px;
    border-style: solid;
  border-width: 1px;
  border-color: rgb(156, 156, 157);
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 5px 0px rgba(150, 150, 150, 0.75);
}

.form3 {
    position: absolute;
    top: 344px;
    right: 225px;
    display: block;
    width: 268px;
    height: 135px;
    border-style: solid;
  border-width: 1px;
  border-color: rgb(156, 156, 157);
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 5px 0px rgba(150, 150, 150, 0.75);
    clear: both;
}

.aside_left {
    background-color: yellow;
    width: 185px; 
    height: 430px; 
    float: left;
    text-align: center;
    padding-top: 30px;
    margin: auto 10px auto 45px;
   /*overflow: hidden;*/
}

.aside_left li {
    width: 85px;
    height: 24px;
    list-style-type: circle;
    list-style-position: inside;
    
}

.header3 {
    width: 50px;
    height: 30px;
    margin-left: 28px;
    font-size: 15.395px;
      font-family: "Lucida Sans Unicode";
      color: rgb(17, 65, 101);
      -moz-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
      -webkit-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
      -ms-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
}

.header3_right {
    width: 50px;
    height: 25px;
    margin-top: 0px;
    margin-left: 43px;
    font-size: 14px;
  font-family: "Lucida Sans Unicode";
  color: rgb(12, 50, 86);
  line-height: 2;
  text-align: left;
}

/*.aside_left_section2 {
    margin-top: 11px;
}*/

/*.aside_left_section3 {
    margin-top: 13px;
}*/


.aside_right {
    background-color: yellow;
    width: 185px; 
    height: 200px; 
    float: right;
    text-align: center;
    padding-top: 30px;
    margin: auto 45px auto 10px;
    /*lear: both;*/
}

.aside_left a {
    position: absolute;
    margin-left: -6px;
    font-size: 14px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  /*line-height: 1.819;*/
   -moz-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -webkit-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  -ms-transform: matrix( 0.90909090909091,0,0,0.909375,0,0);
  text-decoration: none;
}

.aside_left a:hover {
    text-decoration: underline;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}


.brend_checkbox {
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 26px;
    margin-bottom: 17px;
}

main {
     width: 528px;
    height: 630px; 
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 10px auto 10px;
    border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(148,167,176) 0%, rgb(182,195,200) 57%, rgb(228,231,232) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(148,167,176) 0%, rgb(182,195,200) 57%, rgb(228,231,232) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(148,167,176) 0%, rgb(182,195,200) 57%, rgb(228,231,232) 100%);
}

.block_product {
    display: block;
    width: 509px;
    height: 630px;
    margin: auto;
}

figure {
    display: inline-table;
    text-align: center;
    width: 142px;
}

.product {
    width: 141px;
    height: 132px;
    margin: auto 12px auto;
    padding-top: auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(164, 174, 177);
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
}

img {
    margin-top: 6px;
}

figcaption .p1 {
    font-size: 16px;
  font-family: "Lucida Sans Unicode";
  color: rgb(32, 105, 136);
  line-height: 0.875;
  text-align: center;
  -moz-transform: matrix( 0.91187526419384,0,0,0.91187526419384,0,0);
  -webkit-transform: matrix( 0.91187526419384,0,0,0.91187526419384,0,0);
  -ms-transform: matrix( 0.91187526419384,0,0,0.91187526419384,0,0);
}

.cena {
    margin-top: 
   font-size: 17.546px;
  font-family: "Arial";
  color: rgb(17, 65, 101);
  font-weight: bold;
  font-style: italic;
  line-height: 2;
  text-align: center;
  -moz-transform: matrix( 0.91187526419384,0,0,0.91187526419384,0,0);
  -webkit-transform: matrix( 0.91187526419384,0,0,0.91187526419384,0,0);
  -ms-transform: matrix( 0.91187526419384,0,0,0.91187526419384,0,0);
}

footer {
    background-color: green;
    height: auto; 
    width: 909px;
    text-align: center;
    padding-top: 30px;
    margin: 10px auto 0px;
}